/* TODO: fix space between Calc. and End date */
/* TODO: fix space after End date in Reality */
/* TODO: accessiblity - figure out nice way to highlight focused fields for TAB */
/* TODO: add nice masking for scrolling main area over headers and make round corners around */

/* Font imports */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global variables */

body {
  --padding-body: 0.5rem;
  --padding-panel: 1rem;
  --padding-control: 0.3rem 0.8rem;
  --padding-control-v: 0.3rem;
  --padding-control-h: 0.8rem;
  --color-bg: linear-gradient(to bottom right, #fdfbfb 0%, #ebedee 100%);
  --color-border: #ebedee;
  --color-font: #111;
  --color-top-panel: linear-gradient(to bottom, #f6d365 0%, #fda085 100%);
  --color-controls: #ffffff;
  --color-controls-disabled: #efedf0;
  --color-controls-hover: #eeeeee;
  --color-controls-hover-2: #ffd95b 50%, #ffb45f 100%;
  --color-dropdown-shadow: rgba(100, 100, 100, 0.2);
  --color-task-panel: linear-gradient(
    to bottom right,
    #e4e1e1 0%,
    #d0d6d8 100%
  );
  --color-task-panel-header: linear-gradient(
    to bottom,
    #fdfbfb 0%,
    #ebedee 100%
  );
  --color-task-panel-category: linear-gradient(
    to bottom,
    #9d9ea3 0%,
    #bdbbbe 100%
  );
  --color-task-panel-row: #ffffff;
  --color-task-panel-footer: linear-gradient(
    to bottom,
    #9d9ea3 0%,
    #bdbbbe 100%
  );
  --color-scrollbar: #9f9da0;
  --color-scrollbar-hover: #686769;
  --color-scrollbar-back: transparent;
  --color-bar-plan: rgba(255, 196, 2, 0.5);
  --color-bar-reality: #fda085;
  --border-width: 0.1rem;
  --transition-len: 0.2s;
}
body.nightmode {
  --color-bg: linear-gradient(135deg, #1c2627 0%, #1b2d38 100%);
  --color-border: #1f2d38;
  --color-font: #eeeeee;
  --color-top-panel: linear-gradient(180deg, #80d0c7 0%, #13547a 100%);
  --color-controls: #2b3442;
  --color-controls-hover: #394456;
  --color-controls-hover-2: #64cec1 50%, #1a6996 100%;
}

/* Global styling */

body {
  overflow: hidden;
  background: var(--color-bg);
  background-attachment: fixed;
  color: var(--color-font);
  font-family: Roboto;
  font-size: 0.9rem;
  font-weight: 400;
}
#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: var(--padding-body);
  margin: auto;
  padding: var(--padding-body);
}
.pj-control__label,
.pj-control__input,
.pj-control__option,
.pj-control__button {
  padding: var(--padding-control-v) var(--padding-control-h);
}
.pj-control__input {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
.pj-control__list {
  --dropdown-list-radius: 0.8rem;
  margin-top: calc(var(--border-width) / 2.2 - (var(--dropdown-list-radius)));
  padding-top: var(--dropdown-list-radius);
  z-index: 10;
  clip-path: rect(var(--dropdown-list-radius) 120% 120% -100%);
  border: calc(var(--border-width) / 2) solid var(--color-border);
  border-radius: var(--dropdown-list-radius);
  box-shadow: 0.1rem 0.1rem 0.2rem var(--color-dropdown-shadow);
}
.pj-control__list .pj-control__option {
  background: var(--color-controls);
  border-top: calc(var(--border-width) / 2) solid var(--color-border);
  transition: background-color var(--transition-len);
}
.pj-control__arrow {
  margin: 0.2rem 0 0 0.4rem;
}
.pj-control__button {
  cursor: pointer;
}

/* Control panel */

.desktop-controls {
  --text-input-max-width: 15.5rem;
  display: flex;
  flex: 0 1 auto;
  padding: var(--padding-panel);
  border-radius: calc(var(--padding-panel) * 2);
  justify-content: space-between;
  align-items: flex-start;
  background: var(--color-top-panel);
}
.desktop-controls-left,
.desktop-controls-right {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--padding-panel) / 2);
}
.desktop-controls-right {
  flex-shrink: 0;
}
.control-group {
  display: inline-block;
  overflow: hidden;
  background: var(--color-controls);
  border: var(--border-width) solid var(--color-controls);
  border-radius: var(--padding-panel);
  vertical-align: bottom;
}
.control-group .pj-control__label {
  background: var(--color-bg);
}
.control-group .pj-control__fieldset > .pj-control__option,
.control-group .pj-control__button {
  background-size: 100% 200%;
  background-image: linear-gradient(
    to bottom,
    var(--color-controls) 50%,
    var(--color-controls-hover-2)
  );
  border-right: var(--border-width) solid var(--color-border);
  transition: background-position var(--transition-len);
}
.control-group .pj-control__option:last-child,
.control-group .pj-control__button:last-child {
  border-right: none;
}
.control-group .pj-control__option:has(input[type='checkbox']:checked),
.control-group .pj-control__button:hover {
  background-position: 0 -100%;
}
.control-group .pj-control__button:active {
  background-image: none;
  background-color: var(--color-border);
}
.control-group .pj-control__list .pj-control__option:hover {
  background: var(--color-controls-hover);
}

/* Task panel */

.task-panel {
  --text-input-max-width: 12rem;
  --sticky-col-0-width: 3.5rem;
  --sticky-col-1-width: var(--text-input-max-width);
  --sticky-col-2-width: var(--text-input-max-width);
  display: flex;
  align-items: flex-start;
  flex: 1 1 auto;
  overflow: hidden;
  padding: var(--padding-panel);
  padding-bottom: calc(var(--padding-panel) / 3);
  border-radius: calc(var(--padding-panel) * 2);
  background: var(--color-task-panel);
}
.task-panel-scroll-area {
  display: flex;
  align-items: flex-start;
  max-height: 100%;
  overflow: auto;
  white-space: nowrap;
  padding-right: calc(var(--padding-panel) / 2);
  padding-bottom: calc(var(--padding-panel) / 2);
  border-radius: var(--padding-panel);
}
.task-panel-scroll-area::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
  offset: 10px;
}
.task-panel-scroll-area::-webkit-scrollbar-button,
.task-panel-scroll-area::-webkit-scrollbar-track,
.task-panel-scroll-area::-webkit-scrollbar-corner {
  background: var(--color-scrollbar-back);
}
.task-panel-scroll-area::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 0.4rem;
}
.task-panel-scroll-area::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-hover);
}
@-moz-document url-prefix() {
  .task-panel {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) var(--color-scrollbar-back);
  }
}
.task-panel-table {
  position: relative;
  border-spacing: 0;
}
.task-panel-header {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 9;
}
.task-panel-table .sticky-col-0,
.task-panel-table .sticky-col-1,
.task-panel-table .sticky-col-2 {
  position: sticky;
  z-index: 8;
}
.task-panel-table .sticky-col-0 {
  max-width: var(--sticky-col-0-width);
  left: 0;
}
.task-panel-table .sticky-col-1 {
  max-width: var(--sticky-col-1-width);
  left: var(--sticky-col-0-width);
}
.task-panel-table .sticky-col-2 {
  max-width: var(--sticky-col-2-width);
  left: calc(var(--sticky-col-0-width) + var(--sticky-col-1-width));
}
.task-panel-table td,
.task-panel-table th {
  min-width: var(--padding-panel);
  min-height: var(--padding-panel);
}
.task-panel-table .top-left {
  border-radius: var(--padding-panel) 0 0 0;
}
.task-panel-table .top-right {
  border-radius: 0 var(--padding-panel) 0 0;
}
.task-panel-table .bottom-right {
  border-radius: 0 0 var(--padding-panel) 0;
}
.task-panel-table .bottom-left {
  border-radius: 0 0 0 var(--padding-panel);
}
.task-panel-table .task-panel-space {
  min-width: calc(var(--padding-panel) / 2);
  padding: 0;
  background: transparent;
  border: 0;
}
.task-panel-header h3 {
  position: absolute;
  top: 0.5rem;
  color: #636465;
  font-size: 1.3rem;
  font-weight: 400;
}
.task-panel-header h4 {
  position: absolute;
  top: 0.8rem;
  margin-left: 1rem;
  text-align: center;
  font-weight: 400;
}
.task-panel-header th {
  padding: var(--padding-control-v) var(--padding-control-h);
  padding-top: 1.6rem;
  background-image: var(--color-task-panel-header);
  vertical-align: bottom;
  font-weight: 500;
}
.task-panel-header .header-to-left {
  text-align: left;
}
.task-panel-category td {
  background-image: var(--color-task-panel-category);
}
.task-panel-task td {
  background: var(--color-task-panel-row);
  border-bottom: calc(var(--border-width) / 2) solid var(--color-border);
}
.task-panel-footer td {
  height: var(--padding-panel);
  background: var(--color-task-panel-footer);
}
.task-panel-task .pj-control__input {
  height: 2.2rem;
  line-height: 1.7rem;
}
.input-group {
  display: flex;
  overflow: hidden;
  height: 100%;
}
.input-group .pj-control__input:disabled {
  background: var(--color-controls-disabled);
}

/* Controls individually */

.search-control {
  width: 5rem;
  transition: width var(--transition-len);
}
.search-control:focus-within {
  width: var(--text-input-max-width);
}
.search-control .pj-control__input {
  width: var(--text-input-max-width);
}
.sort-by-control .pj-control__input {
  min-width: 10.2rem;
}
.workdays-control .pj-control__input {
  min-width: 6.2rem;
}
.color-by-control .pj-control__input {
  min-width: 6.5rem;
}
.undo-redo-control .pj-control__button {
  margin: -0.15rem 0 -0.2rem;
  padding-bottom: 0;
  font-size: 1.4rem;
}
.light-switch-control .pj-control__button,
.new-category .pj-control__button,
.new-task .pj-control__button {
  width: calc(var(--padding-panel) * 1.8);
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.light-switch-control,
.new-category,
.new-task {
  font-size: 1.1rem;
}
.new-task {
  margin: var(--padding-control-v) var(--padding-control-h);
}
.pick-color-control .pj-control__input,
.pick-color-control .pj-control__option span {
  width: calc(var(--padding-panel) * 1.8);
  height: calc(var(--padding-panel) * 1.8);
  overflow: hidden;
  margin: 0 var(--padding-control-h);
  padding: 0;
  border-radius: calc(var(--padding-panel));
}
.pick-color-control .pj-control__option span {
  display: inline-block;
}
.pick-color-control .pj-control__input span {
  width: 10rem;
  height: 10rem;
}
.pick-color-control .pj-control__arrow {
  position: absolute;
  margin: 0.6rem 0.6rem;
  z-index: 1;
}
.pick-color-control .pj-control__option {
  /* Disable normal styling and remove text */
  padding-left: 0;
  padding-right: 0;
  font-size: 0;
}
.category-name-control,
.category-name-control .pj-control__input,
.task-name-control,
.task-name-control .pj-control__input,
.task-owner-control,
.task-owner-control .pj-control__input {
  width: var(--text-input-max-width);
}
.plan-start-date-control .pj-control__input {
  padding-right: 0;
}
.pick-dependency-control .pj-control__arrow {
  margin: 0.5rem 0;
}
.plan-duration-ideal-control .pj-control__input,
.plan-duration-normal-control .pj-control__input,
.plan-duration-bad-control .pj-control__input,
.plan-duration-calculated-control .pj-control__input,
.reality-start-delay-control .pj-control__input,
.reality-end-delay-control .pj-control__input,
.reality-done-control {
  width: 3.5rem;
  text-align: center;
}
.plan-end-date-control .pj-control__input,
.reality-end-date-control .pj-control__input {
  width: 7rem;
}
.reality-done-control .pj-control__input {
  width: 2.5rem;
  padding-left: 0;
  padding-right: 0;
  text-align: right;
}
.reality-done-control::after {
  content: '%';
  padding-top: calc(var(--padding-control-v) + 0.24rem);
}
.gantt-bar-control {
  --bar-max-height: 1.5rem;
  position: relative;
  height: var(--bar-max-height);
}
.gantt-bar-plan-control,
.gantt-bar-reality-control {
  position: absolute;
  height: 1rem;
}
.gantt-bar-plan-control {
  height: var(--bar-max-height);
  background: var(--color-bar-plan);
}
.gantt-bar-reality-control {
  height: calc(var(--bar-max-height) / 2);
  margin-top: calc(var(--bar-max-height) / 4);
  background: var(--color-bar-reality);
}
.gantt-bar-control td {
  border: 0;
}
